{% extends 'base.html.twig' %}

{% block title %}Edit Sousservice{% endblock %}

{% block body %}
    <h1>Edit Sousservice</h1>

    {{ include('sousservice/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_sousservice_index') }}">back to list</a>

    {{ include('sousservice/_delete_form.html.twig') }}
{% endblock %}
