{% extends 'baseFront.html.twig'%}
{% block title %}
    <title>Mes événements</title>
{% endblock %}
{% block naver %}
 <div class="naver" style="top:-90px;"></div> 
{% endblock %}
{% block PageTitle %}
    <div class="title-wrap">
        <h1 class="title is-4">Mes événements</h1>
    </div>
{% endblock %}
{% block content %}
    <div class="card-grid-toolbar">
        <div class="control has-icon">
            <input class="input custom-text-filter" placeholder="Recherche..." data-filter-target=".column">
            <div class="form-icon">
                <i data-feather="search"></i>
            </div>
        </div>

        <div class="buttons">
            <div class="field h-hidden-mobile">
                <div class="control">
                    <div class="h-select">
                        <div class="select-box">
                            <span>Filtrer par catégorie</span>
                        </div>
                        <div class="select-icon">
                            <i data-feather="chevron-down"></i>
                        </div>
                        <div class="select-drop has-slimscroll-sm">
                            <div class="drop-inner">
                            {% for evenement in evenements %}
                                <div class="option-row">
                                    <input type="radio" name="posts_filter">
                                    <div class="option-meta">
                                        <span>{{evenement.titre}}</span>
                                    </div>
                                </div>
                            {% endfor %}    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="{{ path('app_evenement_new') }}">
            <button class="button h-button is-primary is-raised">
                <span class="icon">
                    <i aria-hidden="true" class="fas fa-plus"></i>
                </span>
                <span>Créer un événement</span>
            </button>
            </a>
        </div>
    </div>
    <div class="page-content-inner">
        <div class="card-grid card-grid-v4">
            <div class="columns is-multiline">
                <!--Grid items-->
                {% for i in 1..20 %}
                <div class="column is-3">
                    <a href="#" class="card-grid-item">
						<img src="https://via.placeholder.com/400x300" data-demo-src="../assets/img/photo/demo/11.jpg" alt="">                        
                        <div class="card-grid-item-content">
                            <h3 class="dark-inverted">How to serve coffee at the office the proper way</h3>
                        </div>
                        <div class="card-grid-item-footer">
                            <div class="h-avatar is-small">
                                <img class="avatar" src="https://via.placeholder.com/150x150" data-demo-src="../assets/img/avatars/photos/39.jpg" alt="" data-user-popover="33">
                            </div>
                            <div class="meta">
                                <span class="dark-inverted" data-filter-match>Alejandro B.</span>
                                <span>30 minutes ago</span>
                            </div>
                        </div>
                    </a>
                </div>
                {% else %}
                <!--List Empty Placeholder -->
                <div class="page-placeholder custom-text-filter-placeholder is-hidden">
                <div class="placeholder-content">
                    <img class="light-image" src="../assets/img/illustrations/placeholders/search-4.svg" alt="" />
                    <img class="dark-image" src="../assets/img/illustrations/placeholders/search-4-dark.svg" alt="" />
                    <h3>Vous n'avez pas encore d'événement.</h3>
                    <p class="is-larger">Commencez par en créer un maintenant.</p>
                </div>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %} 
