<form method="post" action="{{ path('app_personne_delete', {'idPers': personne.idPers}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ personne.idPers) }}">
    <button class ="btn btn-danger"">Supprimer</button>
</form>
