

{# ------------------------------------------ #}
<div id="details-modal-{{ personne.idPers }}" class="modal h-modal is-big">
	<div class="modal-background  h-modal-close"></div>
	<div class="modal-content">
		<div class="modal-card">
			<header class="modal-card-head">
				
				<button class="h-modal-close ml-auto" aria-label="close">
					<i data-feather="x"></i>
				</button>
			</header>

			<div class="modal-card-body">
				<div class="inner-content">
					<div class="section-placeholder">
						<div class="owl-carousel owl-theme">

							 {% if Img[personne.idPers]|length > 0 %}
								{% for image in Img[personne.idPers] %}
									<div class="item">
										<img src="http://localhost/img/{{ image.imageP }}" style="width:500px; height:350px;" alt=""/>
									</div>
								{% endfor %}
							{% else %}
								<div class="item">
									<img src="https://estuario.org/wp-content/uploads/2019/09/image.png" alt=""/>
								</div>
							{% endif %} 
						</div>
					</div>
					
					
																																								</div> #}
				</div>
			</div>
			<div
				class="modal-card-foot is-end">{# <a class="button h-button is-rounded h-modal-close">Cancel</a>
																																																												<a class="button h-button is-primary is-raised is-rounded">Confirm</a> #}
			</div>

		</div>
	</div>
</div>
