{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Sousservice{% endblock %}

{% block content %}
    <center>
    <h1 style="color:#aeb8ff">Modifier votre sous service</h1>
    </center>
    {{ include('templates_back/sousservice/_form.html.twig', {'button_label': 'Modifier'}) }}
    
{% endblock %}


