{% extends 'baseAdmin.html.twig' %}
{# ------------------------------------------------------------------------------------------- #}
{% block title %}New Sousservice{% endblock %}
{# ------------------------------------------------------------------------------------------- #}
{% block content %}
	<center>
		<h1 style="color:#aeb8ff">Créer un nouveau sous service</h1>
	</center>
	{{ include('templates_back/sousservice/_form.html.twig',{'button_label':"Créer"}) }}
	<br>
{% endblock %}
