{% extends 'baseAdmin.html.twig' %}
{# ------------------------------------------------------------------------------------------- #}
{% block title %}New Sousservice{% endblock %}
{# ------------------------------------------------------------------------------------------- #}
{% block content %}
	<center>
		<h1 style="color:#aeb8ff">Créer un nouveau sous service</h1>
	</center>
	{{ include('templates_back/sousservice/_form.html.twig',{'button_label':"Créer"}) }}
	<br>
	{# <center>	
			<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
			<lottie-player src="https://assets1.lottiefiles.com/packages/lf20_ud6csclv.json" background="transparent" speed="1" style="width: 400px; height: 400px;" loop autoplay></lottie-player>
			<a style="margin-left: 200%;color:grey;margin-top:10%" href="{{ path('app_service_index') }}">Retour</a>
		</center> #}
{# ------------------------------------------------------------------------------------------- #}
{% endblock %}
