/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.EnvoyerButton{
    -fx-background-color: #1120ab;
    -fx-opacity: 0.7;
    -fx-border-radius: 150px;
}
.EnvoyerButton:hover{
    -fx-background-color: #1120ab;
    -fx-opacity: 1;
    -fx-border-radius: 150px;
}
.Help{
    -fx-background-color: darkgreen;
    -fx-opacity: 0.7;
    -fx-border-radius: 150px;
}
.Help:hover{
    -fx-background-color: darkgreen;
    -fx-opacity: 1;
    -fx-border-radius: 150px;
}