<form method="post" action="{{ path('app_imgev_delete', {'idImgev': imgev.idImgev}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ imgev.idImgev) }}">
    <button class="btn">Delete</button>
</form>
