{% extends 'baseAdmin.html.twig' %}
{% block title %}Modifier Sponsoring{% endblock %}
 

{% block content %}
 
	<center>
   <h1 style="color:#aeb8ff">Modifier Sponsoring</h1>
    {{ include('/templates_back/sponsoring/_form.html.twig', {'button_label': 'Update'}) }}
	<br>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js">
        </script>
        		<lottie-player src="https://assets1.lottiefiles.com/packages/lf20_ud6csclv.json" background="transparent" speed="1" style="width: 400px; height: 400px;" loop autoplay>
    </lottie-player>
    <a href="{{ path('app_sponsoring_index') }}">retour a la list</a>
</center>
 {% endblock %}
