{% extends 'baseAdmin.html.twig'%}

{% block body %}
	{% include 'baseAdmin.html.twig' %}
	<div class="page-wrapper">
		<div
			class="page-content">
			<!--breadcrumb-->
			<div style="margin-top: -102px;margin-bottom: 60px;color:#758afd;font-size:25px;font-style:bold">Images</div>

			<!--end breadcrumb-->


			<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">

				{% for imageper in imagepers %}


					<div class="col">
						<div class="card radius-15">
							<div class="card-body text-center">
								<div class="p-4 border radius-15">
									<img src="{{asset('images/'~ imageper.imagep)}}" width="110" height="110" class="rounded-circle shadow" alt="">
									<br><br><h5 class=" mt-2">Id d'utilisateur: {{ imageper.idPers }}</h5>
								


								</div>
							</div>
						</div>
					</div>
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</div>

		</div>
	</div>
{% endblock %}
