{% extends 'baseAdmin.html.twig'%}
{% block content %}
	

	<center>
		<h1 style="color:#aeb8ff">Ajouter une image</h1>
		<br> <br> <br>
		{{ include('templates_back/imagepers/_form.html.twig') }}
		</center>
{% endblock %}
