{% extends 'baseFront.html.twig' %}
{# ------------------------------------------------------------------------------------------- #}
{% block title %}New Sousservice{% endblock %}
{# ------------------------------------------------------------------------------------------- #}
{% block content %}
	<div style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);margin-left:27%;background-color:white;border-radius:25px;padding:30px;width:510px">
	<center>
		<h1 style="color:#ff8601;font-size:30px;font-weight:bold">Créer un nouveau sous service</h1>
	</center>
	{{ include('templates_front/sousservice_front/_form.html.twig',{'button_label':"Créer"}) }}
	</div>
	<br>
	{# <center>	
			<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
			<lottie-player src="https://assets1.lottiefiles.com/packages/lf20_ud6csclv.json" background="transparent" speed="1" style="width: 400px; height: 400px;" loop autoplay></lottie-player>
			<a style="margin-left: 200%;color:grey;margin-top:10%" href="{{ path('app_service_index') }}">Retour</a>
		</center> #}
{% endblock %}
