{% extends 'baseFront.html.twig' %}
{# ------------------------------------------------------------------------------------------- #}
{% block title %}New Sousservice{% endblock %}
{# ------------------------------------------------------------------------------------------- #}
{% block content %}
	<div style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);margin-left:27%;background-color:white;border-radius:25px;padding:30px;width:510px">
	<center>
		<h1 style="color:#ff8601;font-size:30px;font-weight:bold">Créer un nouveau sous service</h1>
	</center>
	{{ include('templates_front/sousservice_front/_form.html.twig',{'button_label':"Créer"}) }}
	</div>
	<br>
{% endblock %}
