 
    <h1>Form Data</h1>
    <ul>
        <li>Amount Selection: {{ formData.amountSelection }}</li>
        <li>Impression: {{ formData.impression }}</li>
<li>Date Debut: {{ formData.dateDebut|date('Y-m-d') }}</li>
<li>Date Fin: {{ formData.dateFin|date('Y-m-d') }}</li>

    </ul>
 
