{% extends 'navbar.html.twig' %}

{% block title %}New Imagess{% endblock %}

{% block content %}
    <center>
    <h1 style="color:#aeb8ff">Ajouter d'autres images</h1>

    {{ include('imagess/_form.html.twig') }}
    </center>

{% endblock %}
