<style>.btn-delete {
    display: inline-block;
    padding: 10px;
    background-color: #f44336;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn-delete:hover {
    background-color: #cc0000;
}
    </style>
<form method="post" action="{{ path('app_transaction_edit', {'id_trans': transaction.idTrans}) }}" onsubmit="return confirm('Are you sure you want to modify this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('modifier' ~ transaction.idTrans) }}">
    <button class="btn-delete">modifier</button>
</form>
