/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.nomcateg {
  -fx-background-radius:15px;
}
.input{
    -fx-background-color:  #ffffff ;
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.1),10.0,0.0,0.0,10.0);
    -fx-background-radius: 10;
    -fx-border-color: #d9dadd;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}