/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.EnvoyerIcone{
    -fx-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: "FontAwesome";
}
.EnvoyerIconeDisabled{
    -fx-fill: grey;
    -fx-font-size: 20px;
    -fx-font-family: "FontAwesome";
}
.editReponse{
    -fx-fill: gray;
    -fx-font-size: 12px;
    -fx-font-family: "FontAwesome";
}
.RemoveReponse{
    -fx-fill: lightgray;
    -fx-font-size: 12px;
    -fx-font-family: "FontAwesome";
}
.cancelButton{
    -fx-fill: lightgray;
    -fx-font-size: 12px;
    -fx-font-family: "FontAwesome";
}
.saveButton{
    -fx-fill: lightgray;
    -fx-font-size: 12px;
    -fx-font-family: "FontAwesome";
}
.editReponse:hover{
    -fx-fill: white;
    -fx-font-size: 12px;
    -fx-font-family: "FontAwesome";
}
.RemoveReponse:hover{
    -fx-fill: red;
    -fx-font-size: 12px;
    -fx-font-family: "FontAwesome";
}
.cancelButton:hover{
    -fx-fill: red;
    -fx-font-size: 12px;
    -fx-font-family: "FontAwesome";
}
.saveButton:hover{
    -fx-fill: green;
    -fx-font-size: 12px;
    -fx-font-family: "FontAwesome";
}