{# <form method="post" action="{{ path('app_service_delete', {'idService': service.idService}) }}" >
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.idService) }}">
	<button style="
		margin-right:5px;
		border-radius:10px;
		background-color:#6B67E9;
		border-color:#6B67E9;
		height:30px;
		width:90px;
		display: flex; justify-content: center; align-items: center;
		color:white" class="btn">Supprimer</button>					
</form> #}

<button class="btn" data-bs-toggle="modal" data-bs-target="#deleteModal" style="
			margin-right:5px;
			border-radius:10px;
			background-color:#6B67E9;
			border-color:#6B67E9;
			height:30px;
			width:90px;
			display: flex; justify-content: center; align-items: center;
			color:white">Supprimer
</button>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header  text-white" style="background-color:#ff8601">
				<br>
				<h5 class="modal-title" id="deleteModalLabel" style="color:white">Confirmation de suppression </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Etes vous sure de vouloir supprimer ce service ? 
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" data-bs-dismiss="modal">Annuler</button>
				<form method="post" action="{{ path('app_service_delete', {'idService': service.idService}) }}">
					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.idService) }}">
					<button type="submit" style="background-color:#ff8601;color:white"class="btn">Supprimer</button>
				</form>
			</div>
		</div>
	</div>
</div>
