
{# boutton delete------------------------------------------------------------------------------------------- #}
<a class="btn" data-bs-toggle="modal" data-bs-target="#deleteModal{{l.idimgss}}"  style="position: absolute; top: 0; right: 0; background-color:red; color: white;border: none;cursor: pointer;border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 30px;height:20px;width:20px;"><i class='bx bx-trash'style="font-size:12px;margin-bottom:7px;margin-left:-4px"></i></a>
{# modal------------------------------------------------------------------------------------------- #}
<div class="modal fade" id="deleteModal{{l.idimgss}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header  text-white" style="background-color:#ff8601">
				<br>
				<h5 class="modal-title" id="deleteModalLabel" style="color:white">Confirmation de suppression </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Etes vous sure de vouloir supprimer cette image? 
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" data-bs-dismiss="modal">Annuler</button>
				<form method="post" action="{{ path('app_imagess_delete', {'idimgss': l.idimgss}) }}">
					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ l.idimgss) }}">
					<button type="submit" style="background-color:#ff8601;color:white"class="btn">Supprimer</button>
				</form>
			</div>
		</div>
	</div>
</div>
{# ------------------------------------------------------------------------------------------- #}

