{% extends 'baseAdmin.html.twig' %}
{# ------------------------------------------------------------------------------------------- #}
{% block title %}New Imagess{% endblock %}
{# creation d'une nouvelle image ------------------------------------------------------------------------------------------- #}
{% block content %}
    <center>
    <h1 style="color:#aeb8ff">Ajouter d'autres images</h1>

    {{ include('templates_back/imagess/_form.html.twig') }}
    </center>

{% endblock %}
