{% extends 'baseAdmin.html.twig' %}
{# ------------------------------------------------------------------------------------------- #}
{% block title %}New Service {% endblock %}
{# ------------------------------------------------------------------------------------------- #}
{% block content %}
	<center>
		<h1 style="color:#aeb8ff">Modifier votre service</h1>
		{{ include('templates_back/service/_form.html.twig',{'button_label': 'Modifier'} )}}
		<br>
		<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
		<lottie-player src="https://assets1.lottiefiles.com/packages/lf20_ud6csclv.json" background="transparent" speed="1" style="width: 400px; height: 400px;" loop autoplay></lottie-player>
		<a style="margin-left: 200%;color:grey;margin-top:10%" href="{{ path('app_service_index') }}">Retour</a>
	</center>
{# ------------------------------------------------------------------------------------------- #}
{% endblock %}
